@media screen and (max-width: 900px) {
    .relatedPost{
        margin-left : 10px !important;
        margin-right: 10px !important;
        // margin-top: 20px !important;
        box-shadow: 2px 4px 10px rgba(0,0,0,0.5);
    }
}